{% extends 'profiles/employee/base_generic.html' %}
{% block content %}
    <div class="info">
        {% if courses_not_found %}
            <p>Given course are not found in courses register! Fix your input or register new course!</p>
            {% for course in courses_not_found %}
                <p>{{ course }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container">
        <form class="form_mc" method="post">
            {% csrf_token %}
            <table class="table_mc1">
                <tr>
                    <th>Teacher username:</th>
                    <th>{{ user_form.username }}</th>
                </tr>
                <tr>
                    <th>Email:</th>
                    <th>{{ user_form.email }}</th>
                </tr>
                <tr>
                    <th>Course 0 name:</th>
                    <th>{{ user_form.0_course }}</th>
                    {% if user_form.0_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.0_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 1 name:</th>
                    <th>{{ user_form.1_course }}</th>
                    {% if user_form.1_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.1_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 2 name:</th>
                    <th>{{ user_form.2_course }}</th>
                    {% if user_form.2_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.2_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 3 name:</th>
                    <th>{{ user_form.3_course }}</th>
                    {% if user_form.3_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.3_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 4 name:</th>
                    <th>{{ user_form.4_course }}</th>
                    {% if user_form.4_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.4_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 5 name:</th>
                    <th>{{ user_form.5_course }}</th>
                    {% if user_form.5_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.5_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 6 name:</th>
                    <th>{{ user_form.6_course }}</th>
                    {% if user_form.6_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.6_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 7 name:</th>
                    <th>{{ user_form.7_course }}</th>
                    {% if user_form.7_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.7_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 8 name:</th>
                    <th>{{ user_form.8_course }}</th>
                    {% if user_form.8_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.8_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>

            </table>
            <table class="table_mc2">
                <tr>
                    <th>Course 9 name:</th>
                    <th>{{ user_form.9_course }}</th>
                    {% if user_form.9_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.9_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 10 name:</th>
                    <th>{{ user_form.10_course }}</th>
                    {% if user_form.10_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.10_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 11 name:</th>
                    <th>{{ user_form.11_course }}</th>
                    {% if user_form.11_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.11_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 12 name:</th>
                    <th>{{ user_form.12_course }}</th>
                    {% if user_form.12_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.12_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 13 name:</th>
                    <th>{{ user_form.13_course }}</th>
                    {% if user_form.13_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.13_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 14 name:</th>
                    <th>{{ user_form.14course }}</th>
                    {% if user_form.14_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.14_course.value student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 15 name:</th>
                    <th>{{ user_form.15_course }}</th>
                    {% if user_form.15_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.15_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 16 name:</th>
                    <th>{{ user_form.16_course }}</th>
                    {% if user_form.16_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.16_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 17 name:</th>
                    <th>{{ user_form.17_course }}</th>
                    {% if user_form.17_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.17_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 18 name:</th>
                    <th>{{ user_form.18_course }}</th>
                    {% if user_form.18_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.18_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Course 19 name:</th>
                    <th>{{ user_form.19_course }}</th>
                    {% if user_form.19_course.value %}
                        <td>
                            <button>
                                {% url 'employee_module:remove_course_from_teacher' user_form.19_course.value  student_id as the_url %}
                                {% if the_url %}
                                    <a href="{{ the_url }}">
                                        WYPISZ </a>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <th colspan="1">
                        <button id="input_an">
                            <a href="{% url 'employee_module:manage_teachers_view' %}" id="input_an">
                                ANULUJ </a>
                        </button>
                    </th>
                    <th colspan="2"><input id="input_mc" type="submit" value="Submit"></th>
                </tr>
            </table>
        </form>

{% endblock %}