{% extends 'profiles/teacher/base_generic.html' %}
{% block content %}

<div class="course centered">
    <table>
     <tr>
                <th> Name of the course</th>
                <th> Description</th>
                <th> Course start date</th>
                <th> Course end date</th>
                <th> <p> Participants & Messages </p></th>

            </tr>
        {% for course in courses_list %}
            <tr>
                <td> {{ course.name }}</td>
                <td> {{ course.description }}</td>
                <td> {{ course.start_date }}</td>
                <td> {{ course.end_date }}</td>
                <th>
                <button>
                    <a href="{% url 'teacher_module:course_page_view' course_id=course.id %}"> Check details</a>
                </button>
                </th>

            </tr>
        {% endfor %}
    </table>
</div>
<div class="button submit-btn">
    <a href="{% url 'teacher_module:teacher_profile_view' %}">Go back</a>
</div>
{% endblock %}