{% extends "registration/base_generic.html" %}

{% block content %}
    <div class="container">
        <h1>Welcome to Dance School Managment System DSMS</h1>
        <div class="form-box">
         <span class="log-in-p">Enter the email address associated with your account</span>
            <form class="input-group" action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                    <input class="input-field" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                {% endif %}
                <input class="input-field" type="email" name="email" autocomplete="email" maxlength="254" required="" placeholder="Email Adress" id="id_email">
                <input type="submit" class="submit-btn" value="Reset password">
            </form>
        </div>
    </div>
{% endblock %}