{% extends "registration/base_generic.html" %}

{% block content %}
    <div class="container">
            <h1>Welcome to Dance School Managment System DSMS</h1>
        <div class="form-box">
            <form id="register" class="input-group" method="post" action="{% url 'student_signup' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <input type="text"  class="input-field" name="username" maxlength="30" autocapitalize="none" autocomplete="username" required="" placeholder="Username">
                <input type="email" class="input-field" name="email" maxlength="254" autofocus="" required="" placeholder="Email Adress">
                <input type="password" class="input-field" name="password1" autocomplete="new-password" required="" placeholder="Password">
                <input type="password" class="input-field" name="password2" autocomplete="new-password" required="" placeholder="Password Confirmation">
                 <span class="helptext">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>
{% endblock %}